/*fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&family=Nunito:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Nunito', Arial, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #2e0057, #9b4dff);
    color: #fff;
    line-height: 1.6;
    text-align: justify;
}

h1.neon {
    font-family: 'Fredoka One', cursive;
    font-size: 3.5rem;
    color: #d7b2ff;
    text-align: center;
    text-shadow: 0 0 10px #c67dff, 0 0 25px #b76dff, 0 0 40px #9e3dff;
    margin-bottom: 10px;
}
/*encabezado*/
h2 {
    font-family: 'Baloo 2', cursive;
    font-size: 2.5rem;
    color: #f4d9ff;
    text-align: center;
    margin-bottom: 20px;
}
h3 {
    font-family: 'Baloo 2', cursive;
    color: #f4d9ff;
}
/*nav*/
header {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.4);
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
nav a {
    display: inline-block;
    margin: 5px 10px;
    padding: 8px 15px;
    background: rgba(255,255,255,0.2);
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}
nav a:hover {
    background: #d7b2ff40;
}

/* secciones */
.seccion {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background: rgba(255,255,255,0.05);
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
/* img */
.imagen-contenedor img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    border: 2px solid #e8c6ff;
}
/* boton */
.btn-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: rgba(215, 178, 255,0.5);
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s;
    text-align: center;
}
.btn-link:hover {
    background: #d7b2ff;
    color: #fff;
}
/* lista */
ul li {
    margin-bottom: 5px;
}
/*footer*/
footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.4);
    color: #fce8ff;
    font-family: 'Baloo 2', cursive;
    font-size: 1.2rem;
}
/*integrantes*/
.integrante-card-container {
    display: flex;
    flex-direction: column; /* vertical */
    align-items: center;
    gap: 50px; /* espacio entre integrantes */
    margin: 40px auto;
    max-width: 800px;
}
.integrante-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* NOMBRE */
.integrante-card h3 {
    font-size: 2rem;
    margin-bottom: 15px;
}
/* img DEL INTEGRANTE */
.integrante-card img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #d7b0ff60;
    margin-bottom: 15px;
}
/* descripcion */
.integrante-card p,
.integrante-card ul {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 5px 0;
}

.integrante-card ul {
    list-style-position: inside;
    padding: 0;
}

